{% extends 'base.html' %} {% block title %} Jobs {% endblock %} {% block
pageTitle %} jobs {% endblock %} {% block content %}
<table class="table">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job</th>
      <th scope="col" class="d-none d-lg-table-cell">Company</th>
      <th scope="col">Workplace</th>
      <th scope="col" class="d-none d-lg-table-cell">Salary</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>
        <a class="alert-link" href="{{ job.get('link', '') }}" target="_blank"
          >{{ job.get('job_title', '') }}</a
        >
      </td>
      <td class="d-none d-lg-table-cell">{{ job.get('company', '') }}</td>
      <td>{{ job.get('workplace', '') }}</td>
      <td class="d-none d-lg-table-cell">{{ job.salary.get('txt', '') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
